tox

# Type Checking.
mypy
types-requests
types-pyOpenSSL
types-python-dateutil
types-PyYAML

# Linting.
flake8
flake8-bugbear
flake8-broken-line
flake8-comprehensions
flake8-eradicate
pep8-naming

# Formatting.
black
isort<6,>=4.2.5

# Circuit Pi
adafruit-blinka
adafruit-circuitpython-debouncer
adafruit-circuitpython-max31865
adafruit-python-shell
ansible
RPi.GPIO

# Qt UI Framework
websockets>=12.0
PySide6
