[Desktop Entry]
Comment=
Terminal={{ desktop_term_enabled }}
Name={{ desktop_name }}
Exec={{ python_env_wrapper }} {{ install_dir }}/{{ desktop_exec }}
Type=Application
Icon=thermometer
Categories=Other
