[Unit]
Description={{ item.description }}
After=network.target

[Service]
Type=exec
ExecStart={{ python_env_wrapper }} {{ item.script }}
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
